<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Equation Calc</title>
</head>
<body>
<h1>Quadratic equation calculator</h1>
<p>
    Welcome to equation calculator! This program solves equations and gives you roots of them.<br>
    Arguments can also be equal to 0. <br>
    Using float numbers separate them with '.'<br>
    Use next formula:
</p>
<img src="static/images/eq.gif">
<p>Enter values here:</p>
<form action="" method="POST">
  a:<br>
  <input type="text" name="a"><br>
  b:<br>
  <input type="text" name="b"><br>
  c:<br>
  <input type="text" name="c"><br>
  <input type="submit" value="submit">
</form>


</body>
</html>